.collapsible-item>* {
    background: linear-gradient(-45deg, rgba(73, 155, 234, 1) 0%, rgba(114, 124, 231, 1) 25%, rgba(182, 71, 225, 1) 67%, rgba(235, 29, 221, 1) 100%);
    color: #fff;
    border-radius: 0.5rem;

}

.collapsible>* {
    background: rgba(255, 255, 255, 0.9);
    color: #000 !important;
}

.modal-container {
    background: linear-gradient(-45deg, rgba(73, 155, 234, 1) 0%, rgba(114, 124, 231, 1) 25%, rgba(182, 71, 225, 1) 67%, rgba(235, 29, 221, 1) 100%);
    color: #fff;
    border-radius: 0.5rem;
}

.black-foot {
    background: #000 !important;
}


.text-white {
    color: #fff !important;
}
