.card-land {
    margin-top: 10rem;
}





@media (max-width: 700px) {
   .card-land {
       margin-top: 5rem;
   }

}

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
      .card-land {
          margin-top: 5rem;
      }

}




@keyframes one {

    0%,
    100% {}

    5%,
    95% {}

    10%,
    90% {}

    15%,
    85% {}

    20%,
    80% {}

    25%,
    75% {}

    30%,
    70% {}

    35%,
    65% {}

    40%,
    60% {}

    45%,
    55% {}


    50% {}
}
